.chat-input {
  margin: 20px;
  position: relative;
  &__actions {
    cursor: pointer !important;
    &-upload-btn {
      ::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }

  &__smile,
  &__camera,
  &__audio,
  &__send {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      transition: 0.1s ease-in-out;
    }
  }

  &__smile {
    font-size: 20px;
    top: 9px;
    left: 11px;
  }
  &__camera {
    font-size: 21px;
    top: 10px;
    left: 721px;
  }
  &__audio {
    font-size: 18px;
    top: 12px;
    left: 753px;
  }
  &__send {
    font-size: 17px;
    top: 12px;
    left: 753px;
  }
  input {
    &:focus {
      box-shadow: 0;
    }
  }
}
.ant-input-lg {
  padding: 5.5px 95px 5.5px 39px !important;
}
