.home {
  height: 950px;
}
.chat {
  display: flex;
  background-color: #fff;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;
    &-error {
      padding-top: 70px;
      svg {
        color: #b99595;
        font-size: 25px;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 18px;
      height: 60px;
    }
    &-search {
      padding: 0 20px 20px 20px;
      .ant-input {
        background: #f7f8f9;
        border: 0;
        height: 30px;
        line-height: 32px;
        padding: 4px 11px 6px;
        &-affix-wrapper {
          background: #f7f8f9;
        }
        &-suffix {
          padding-top: 5px;
        }
      }
    }
    &-dialogs {
      display: flex;
      justify-content: center;
      margin: 0;

      .dialogs {
        width: 319px;
        max-height: 785px;
        overflow: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        &__item {
          padding: 10px 19px;

          margin: 0 -10px 0 -10px;
          cursor: pointer;
          &.active,
          &:hover {
            background-color: #f3f7ff;
            transition: 0.01s ease-in-out;
          }
        }
      }
    }
  }
  &__info {
    display: inline-block;
    margin-right: 5px;
  }
  &__dialog {
    flex: 1;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px 10px 20px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 14px;
      height: 60px;
      &-username {
        font-size: 17px;
        font-style: italic;

        letter-spacing: 1px;
      }
    }
    &-fullname {
      font-weight: 500;
      display: block;
      margin-bottom: 7px;
    }
    .status {
      text-align: center;
      color: #c2bdbd;
      position: relative;
      padding-bottom: 5px;
      &--online {
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 30px;
          background-color: #00c980;
        }
      }
      &::before {
        position: absolute;
        top: 8px;
        left: -9px;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 30px;
        background-color: #c2bdbd;
        border: 0.001em solid #d4d4d4;
      }
    }
  }
}

.anticon {
  &-edit {
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      transition: 0.1s ease-in-out;
    }
  }
  &-ellipsis {
    cursor: pointer;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      transition: 0.1s ease-in-out;
    }
  }
}
