.home {
  height: 950px;
}

.chat {
  display: flex;
  background-color: #fff;
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
  label {
    z-index: 1;
    position: absolute;
    left: 6vw;
    top: 2vh;
    font-size: 30px;
    display: none;
    color: #d7dde9;
  }
  #toggleBurger {
    display: none;
  }
  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;
    &-error {
      padding-top: 70px;
      svg {
        color: #b99595;
        font-size: 25px;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 18px;
      height: 60px;
    }
    &-search {
      padding: 0 20px 20px 20px;
      .ant-input {
        background: #f7f8f9;
        border: 0;
        height: 30px;
        line-height: 32px;
        padding: 4px 11px 6px;
        &-affix-wrapper {
          background: #f7f8f9;
        }
        &-suffix {
          padding-top: 5px;
        }
      }
    }
    &-dialogs {
      display: flex;
      justify-content: center;
      margin: 0;

      .dialogs {
        width: 319px;
        max-height: 785px;
        overflow: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        &__item {
          padding: 10px 19px;

          margin: 0 -10px 0 -10px;
          cursor: pointer;
          &.active,
          &:hover {
            background-color: #f3f7ff;
            transition: 0.01s ease-in-out;
          }
        }
      }
    }
  }
  &__info {
    display: inline-block;
    margin-right: 5px;
  }
  &__dialog {
    flex: 1;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px 10px 20px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 14px;
      height: 60px;
      &-username {
        font-size: 17px;
        font-style: italic;
        letter-spacing: 1px;
      }
    }
    &-fullname {
      font-weight: 500;
      display: block;
      margin-bottom: 7px;
    }
  }
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #c2bdbd;

  &--online {
    &::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 30px;
      background-color: #00c980;
    }
  }
}
.anticon {
  &-edit {
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      transition: 0.1s ease-in-out;
    }
  }
  &-ellipsis {
    cursor: pointer;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      transition: 0.1s ease-in-out;
    }
  }
}

@media only screen and (max-width: 450px) {
  .chat {
    padding: 0;
    margin: auto;
    width: 414px;
    label {
      cursor: pointer;
      display: block;
      color: #959697;
    }
    &__info {
      padding: 0px 20px 10px 20px;
      font-size: 40px;
      span {
        font-size: 20px;
      }
    }
    &__sidebar {
      width: 100vh;
      display: none;
      .anticon-edit {
        position: absolute;
        top: 2vh;
        right: 3vw;
        font-size: 20px;
      }
      &-dialogs {
        width: 100%;
      }
      &-search {
        .ant-input-affix-wrapper {
          width: 88vw !important;
          height: 38px;
          align-items: center;
          svg {
            font-size: 30px;
          }
          input {
            font-size: 15px;
          }
        }
      }
      &-header {
        height: 8vh;
        margin: 0 0 2vh 0;
        padding: 0 0 2vh 0;
        justify-content: center;
        font-size: 40px;
      }
    }
    &__dialog {
      margin-top: 10px;
      justify-content: center;
      &-header {
        height: 6.5vh;

        &-action {
          padding: 0;
          margin: 0 0px 19px 0;
        }
        &-empty {
          width: 7%;
        }
      }

      &-messages {
        height: 20px;
        z-index: 0;
      }
    }
    &-input {
      position: absolute;
      top: 90%;

      &__smile {
        position: absolute;
        top: 17%;
        font-size: 20px;
      }
      &__actions {
        position: absolute;
        top: -15%;
        left: -105%;
      }
    }
  }
  html,
  body {
    height: 100vh;
  }

  .dialogs {
    width: 100%;
    &__item {
      padding: 5px 6px;
    }
  }
  .ant-input-lg {
    height: 30px;
    width: 380px;
    border-radius: 30px !important;
    font-size: 15px;
  }
  #toggleBurger:checked ~ .chat {
    &__sidebar {
      width: 100%;
      display: block;
    }
  }
  #toggleBurger:checked ~ .chat__dialog {
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .chat {
    &__sidebar {
      .anticon-edit {
        position: absolute;
        top: 24px;
        left: 109%;
        font-size: 20px;
      }
    }
    label {
      left: 10%;
      top: 15px;
      font-size: 20px;
    }
  }
}
